<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width-device-width,initial-scale=1.0" />
        <title>@ViewData["Title"] - Üçüncübinyıl ETİCARET</title>
        <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="/modules/jquery/dist/jquery.min.js" />
        <!-- font awesome -->
    </head>
    <body>
        <partial name="_navbar" />
        <div class="container pageContainer mb-5">
        @if(TempData["message"] != null)
        {
            /* error ve success mesajları */
            <partial name="_resultMessage" model="@(TempData.Get<ResultModel>("message"))" />
        }
        </div>
        <div>
            @RenderBody()
        </div>

    <script src="/modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts",required:false)
    </body>
</html>